.list{
  margin: 30px;
}

.chart{
  margin: 40px;
}

.toggleChartBtn{
  margin-left: 30px;
  margin-bottom: 10px;
}

.demo-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.ChartTypeButton{
  margin-right: 10px;
}

.chartOverall{
  margin-left: 30px;
}

.mat-column-Evidence {
  flex: 6;
}

.headinfo{
  margin: 30px;
}

.filter{
  margin: 30px;
}

.filterForm > *:not(:last-child) {
  display: block;
  margin-right: 50px;
}

.filterForm{
  display: flex;
  flex-direction: row;
}

.example-button-row{
  display: flex;
  flex-direction: column;
}

.example-button-row > *:not(:last-child){
  margin-bottom: 10px;
}

h2{
  margin-top: 10px;
}
